*{
    margin: 0;
    padding: 0;
}

main{
    width: 100%;
    height: 712px;
    background-image: url("../assets/login/Fundo_login.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;

    & #logo{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        font-family: "Playfair", serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings: "wdth" 100;
        margin-left: 100px;
        margin-top: 35px;

        & #logo_logo{
            width: 40px;
            padding-right: 15px;
            padding-left: 10px;
        }
        
        & #nome_site{
            font-size: 27px;
            font-family: "Playfair", serif;
        }

        & #voltar{
            width: 25px;
            margin-left: 15px;
            padding-top: 8px;
            cursor: pointer;
        }
    }

    & #conteudo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 150px;
        width: 100%;

        & #titulo{
            font-size: 40px;
            margin-bottom: 10px;
        }
        & p{
            font-size: 30px;
        }
    
        & button{
            height: 40px;
            width: 150px;
            background-color: #ffffff;
            color: #101010;
            border-radius: 20px;
            border: none;
            margin-top: 15px;
            font-family: "Poppins", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 25px;
            text-align: center;
            cursor: pointer;
        }
    
        & #mensagem{
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            margin-left: 200px;
            margin-right: 50px;
    
            & #text{
                margin: 15px;
            }
        }
    
        & #dados{
            width: 100vw;
            height: auto;
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            font-size: 45px;
            margin-left: 90px;
    
            & #inputs{
                width: 350px;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 7px;
                background-color: #ffffff;
                border-radius: 5px;
    
                & img{
                    height: 20px; 
                    margin: 5px;
                }
            }
            
            & input{
                display: flex;
                width: 300px;
                height: 35px;
                border-radius: 5px;
                border: none;
            }
        }
    }


}